.ancho{
    background-color: beige;
    max-width: 1200px;
    margin: auto;
}

.ancho h2{
    text-align: center;
    color: blue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px
}

.ancho p{
    text-indent: 30px;
    text-align: justify;
    padding: 20px;
    line-height: 2;
    font-style: italic;
}

.ancho img{
    border: solid rgb(67, 228, 234)  15px;
    border-radius: 10%;
    width: 25%;
    margin-left: 40%;
}